<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/results.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="centered">
      <h1>Here's your reciete!</h1>
      <p>Selected Package: <%= selection%></p>
      <p>Entered Weight: <%= weight%></p>
      <p>Amount Owed: $<%= amountOwed%></p>
    </section>
  </body>
</html>
